@if (data && (data.lugar || data.direccion || data.hora)) {
  <div class="ceremonia-container" [style.font-family]="data?.fontFamily">
    <!-- Título de la sección -->
    <h1 class="titulo-ceremonia">Donde Comienza Nuestra Historia</h1>
    <!--Divisor-->
    <div class="ceremonia-divider">
      <span class="divider-line"></span>
      <span class="divider-icon">✦</span>
      <span class="divider-line"></span>
    </div>
    <div class="contenedor-tarjetas">
      <!-- Tarjeta 1: Ceremonia -->
      @if (data.lugar || data.direccion || data.hora) {
        <div class="tarjeta">
          @if (data.imagenTemplo) {
            <img
              [src]="data.imagenTemplo"
              alt="Ceremonia Religiosa"
              class="imagen-tarjeta"
            />
          } @else {
            <div class="placeholder-icon">
              <ng-icon name="lucideChurch" size="48"></ng-icon>
            </div>
          }
          <h2 class="titulo-tarjeta">Ceremonia Religiosa</h2>
          @if (data.descripcion) {
            <p class="descripcion-tarjeta">
              {{ data.descripcion }}
            </p>
          }
          @if (data.lugar || data.direccion) {
            <address class="direccion-tarjeta">
              <strong>
                <ng-icon
                  name="heroMapPin"
                  size="16"
                  class="inline-icon"
                ></ng-icon>
                Ubicación:
              </strong>
              {{ data.lugar }}
              @if (data.lugar && data.direccion) {
                <br />
              }
              {{ data.direccion }}
            </address>
          }
          @if (data.hora) {
            <p class="horario-tarjeta">
              <strong>
                <ng-icon
                  name="heroClock"
                  size="16"
                  class="inline-icon"
                ></ng-icon>
                Horario:
              </strong>
              {{ data.hora }}
            </p>
          }
          <a
            [href]="
              data.mapaUrl ||
              'https://maps.google.com/?q=' +
                encodeURIComponent(data.direccion || data.lugar || '')
            "
            target="_blank"
            class="boton-mapa"
          >
            <ng-icon name="heroMap" size="16" class="btn-icon"></ng-icon>
            Cómo llegar
          </a>
        </div>
      }

      <!-- Tarjeta 2: Recepción -->
      @if (recepcionData) {
        <div class="tarjeta">
          @if (recepcionData.imagen) {
            <img
              [src]="recepcionData.imagen"
              alt="Recepción"
              class="imagen-tarjeta"
            />
          } @else {
            <div class="placeholder-icon">
              <ng-icon name="heroSparkles" size="48"></ng-icon>
            </div>
          }
          <h2 class="titulo-tarjeta">Recepción</h2>
          @if (recepcionData.descripcion) {
            <p class="descripcion-tarjeta">
              {{ recepcionData.descripcion }}
            </p>
          }
          @if (recepcionData.lugar || recepcionData.direccion) {
            <address class="direccion-tarjeta">
              <strong>
                <ng-icon
                  name="heroMapPin"
                  size="16"
                  class="inline-icon"
                ></ng-icon>
                Ubicación:
              </strong>
              {{ recepcionData.lugar }}
              @if (recepcionData.lugar && recepcionData.direccion) {
                <br />
              }
              {{ recepcionData.direccion }}
            </address>
          }
          @if (recepcionData.hora) {
            <p class="horario-tarjeta">
              <strong>
                <ng-icon
                  name="heroClock"
                  size="16"
                  class="inline-icon"
                ></ng-icon>
                Horario:
              </strong>
              {{ recepcionData.hora }}
            </p>
          }
          <a
            [href]="
              recepcionData.mapaUrl ||
              'https://maps.google.com/?q=' +
                encodeURIComponent(
                  recepcionData.direccion || recepcionData.lugar || ''
                )
            "
            target="_blank"
            class="boton-mapa"
          >
            <ng-icon name="heroMap" size="16" class="btn-icon"></ng-icon>
            Cómo llegar
          </a>
        </div>
      }
    </div>
  </div>
}
