<!-- Mostrar mientras carga -->
@if (cargando) {
  <div class="cargando">Cargando invitación...</div>
}

<!-- Si no se encontró -->
@if (!cargando && !(invitacion$ | async)) {
  <div class="no-encontrada">
    <p>Invitación no encontrada 😢</p>
  </div>
}

<!-- Si se encontró una invitación -->
@if (!cargando && (invitacion$ | async); as invitacion) {
  <!-- Invitación genérica desde Firestore -->
  @if (invitacion.slug !== 'xv-nathalia') {
    <app-invitacion-generica
      [data]="invitacion"
      >
    </app-invitacion-generica>
  }
}
